<section id="topbar">

    <h1>An Awesome Title</h1>
    
    <span class="physicalButton"></span>

    <div id="nav" class="btn-toolbar">
        <div class="btn-group">
            <button id="startbutton" class="btn">LED On !</button>
            <button id="stopbutton" class="btn">LED Off !</button>
        </div>
    </div>

</section>